.idea
.vscode
.git
config/dataabase.php
system/cache/*
application/cache/*
application/json/visits.json
application/modules/Sabre/libraries/Cache/*
application/modules/Travelport_hotels/libraries/ReqRsp/*
**/.DS_Store
v7.zip

/vendor/
